.btn-slick-prev,.btn-slick-next{
    z-index: 1;
    top: -30px;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: .9rem;
    background-color: var(--bg-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-slick-prev{
    width: 30px;
    height: 30px;
}
.btn-slick-next{
    right: 40px;
    width: 30px;
    height: 30px;

}
.slick-slide img{
    padding: 5%;
}
