:root {
    --bg-color: #21324A;
    --blue-color: #0E192A;
    --gray-color: #afafaf;
    --light-gray-color: #ececec;
    --white-color: #fff;
    --medium-blue-color: #11263a;
    --light-blue-color: #00E5CE;
    --yellow-color: #d9dd00;
    --purple-color: #423ea3;
    --green-color: #00ffb3;
    --green-btn-color: #00d8ad;
    --bg-footer: #0B1220;
    --bg-search: hsla(0, 0%, 100%, 0.3);
    --bg-control: #111727;
    --dark-color: #16181B;
    --boder-control: #0C1524;
    --bg-index: #0B1220;
    --bg-btn-play: #2BDBEC;
    --alpha-color: hsla(0, 0%, 100%, 0.1);
    --betal-color: rgba(244, 246, 248, 0.02);
    --text-title: #00311d;
}


.btn {
    border-radius: 0px;
    position: relative;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}

.btn:active {
    transform: scale(0.9);
}

.ms-content {
    margin-left: 200px;
    position: relative;
    width: 100%;
    background-color: var(--bg-index);
}

.hidden {
    display: none !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-color-btn {
    color: var(--green-color) !important;
}

.play-button {
    position: relative;
    z-index: 5;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 0 2px 0px 10px;
    box-shadow: 0 0px 30px rgba(21, 255, 146, 0.5);
    cursor: pointer;
}

.play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 45px;
    height: 45px;
    background: rgba(21, 255, 146, 0.65);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    transition: all 200ms;
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.play-button:hover:after {
    background: var(--green-color);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.play-button:hover i {
    color: var(--white-color);
}

.play-button .fa-play {
    position: relative;
    font-size: 1rem;
    z-index: 3;
    left: -3px;
    color: var(--green-color);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.play-button .fa-pause {
    position: relative;
    font-size: 1rem;
    z-index: 3;
    left: -4px;
    color: var(--green-color);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-prev,
.btn-next,
.btn-random {
    cursor: pointer;
    padding: 5px;
}

.btn-prev,
.btn-next {
    padding: 0 20px 0 20px;
}

.play-button i {
    padding: 15px;
}

.add-color-btn {
    color: var(--green-color) !important;
}

.play-button {
    position: relative;
    z-index: 5;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 0 2px 0px 10px;
    box-shadow: 0 0px 30px rgba(21, 255, 146, 0.5);
    cursor: pointer;
}

.play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 45px;
    height: 45px;
    background: rgba(21, 255, 146, 0.65);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    transition: all 200ms;
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.play-button:hover:after {
    background: var(--green-color);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.play-button:hover i {
    color: var(--white-color);
}

.play-button .fa-play {
    position: relative;
    font-size: 1rem;
    z-index: 3;
    left: -3px;
    color: var(--green-color);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.play-button .fa-pause {
    position: relative;
    font-size: 1rem;
    z-index: 3;
    left: -4px;
    color: var(--green-color);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-prev,
.btn-next,
.btn-random {
    cursor: pointer;
    padding: 5px;
}

.btn-prev,
.btn-next {
    padding: 0 20px 0 20px;
}

.play-button i {
    padding: 15px;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}



.ms-play-control-container {
    height: 80px;
    width: 100%;
    position: absolute;
    position: fixed;
    z-index: 10;
    bottom: 0;
    border-top: 2px solid #0C1524;
    background-color: var(--bg-control);
    font-size: 0.8rem;
    overflow: hidden;
}

.ms-play-control-container-bg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, var(--bg-color), var(--bg-control));
    opacity: 0.8;
    position: absolute;
}

.ms-play-control-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    position: relative;
}

.ms-play-control-info {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.ms-play-control-img-song {
    position: relative;
    display: flex;
    align-items: center;
}

.ms-play-control-img-song .equalizer {
    margin: 30px 15px 0 0;
}

.ms-play-control-img-song .equalizer span {
    background-color: var(--white-color);
}

.ms-play-control-img-song img {
    width: 35px;
    height: 35px;
}

.ms-control-info-song {
    color: var(--white-color);
    width: 100%;
    padding-left: 15px;
}

.ms-control-info-song .creator {
    color: var(--gray-color);
}

.ms-play-uploads {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.ms-uploads-button-control {
    width: 20%;
    color: var(--white-color);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.ms-uploads-button-control i {
    text-align: center;
    font-size: 1rem;
}


.ms-play-control-player {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.ms-control-player-button-control {
    width: 20%;
    color: var(--white-color);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.ms-player-progress-bar {
    width: 100%;
    color: var(--gray-color);
}

.wrapper-progress-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ms-player-progress-bar .progress-bar {
    width: 80%;
    -webkit-appearance: none;
    height: 2px;
    background-color: var(--bg-color);
    cursor: pointer;
}

.wrapper-progress-bar .time {
    width: 70px;
    text-align: center;
}

.ms-player-progress-bar .progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--light-blue-color);
    cursor: pointer;
    box-shadow: rgba(16, 223, 188, 0.3) 0px 0px 0px 7px, rgba(16, 223, 188, 0.65) 0px 4px 6px -1px, rgba(16, 223, 188, 0.08) 0px 1px 0px;
}

.ms-player-progress-bar .progress-bar::-moz-range-thumb {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--light-blue-color);
    cursor: pointer;
    box-shadow: rgba(16, 223, 188, 0.3) 0px 0px 0px 7px, rgba(16, 223, 188, 0.65) 0px 4px 6px -1px, rgba(16, 223, 188, 0.08) 0px 1px 0px;
}

.ms-play-control-right {
    width: 20%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}

.ms-play-control-right span {
    font-size: 1.2rem;
    color: var(--gray-color);
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.ms-play-control-right i {
    font-size: 1rem;
    color: var(--gray-color);
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding-top: 2px;
}

.ms-play-control-right .btn-loop {
    cursor: pointer;
}

.ms-play-control-volume {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ms-play-control-volume .volume {
    width: 80px;
    -webkit-appearance: none;
    height: 2px;
    background: var(--bg-color);
    margin-left: 10px;
    cursor: pointer;
}

.ms-play-control-volume .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    background: var(--green-color);
    cursor: pointer;
}

.ms-play-control-volume .volume::-moz-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    background: var(--green-color);
    cursor: pointer;
}


.ms-play-control-right {
    width: 20%;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}

.ms-play-control-right span {
    font-size: 1.2rem;
    color: var(--gray-color);
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.ms-play-control-right i {
    font-size: 1rem;
    color: var(--gray-color);
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding-top: 2px;
}

.ms-play-control-right .btn-loop {
    cursor: pointer;
}

.ms-play-control-volume {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ms-play-control-volume .volume {
    width: 80px;
    -webkit-appearance: none;
    height: 2px;
    background: var(--bg-color);
    margin-left: 10px;
    cursor: pointer;
}

.ms-play-control-volume .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    background: var(--green-color);
    cursor: pointer;
}

.ms-play-control-volume .volume::-moz-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    background: var(--green-color);
    cursor: pointer;
}

.ms-control-player-button-control {
    width: 20%;
    color: var(--white-color);
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.ms-control-player-button-control i {
    text-align: center;
    font-size: 1rem;
}



@media only screen and (min-width:64rem) {
    .login-mobile{
        display: none !important;
    }
    .is-active:before {
        background-color: var(--light-blue-color);
    }
    .ms-wrapper-header {
        transition: 0.3s ease-in-out;
    }
    .ms-nav-bar {
        width: 200px;
    }
    
}


@media only screen and (min-width:46.25rem) and (max-width:64rem) {
    /*--Control--*/
    .ms-play-control-container {
        height: 150px;
    }
    .ms-play-control-player {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40%;
    }
    .btn-volume {
        padding-left: 10px;
    }
    .ms-play-control-volume .volume {
        margin-left: 20px;
    }
    .ms-control-player-button-control {
        position: absolute;
    }
    .ms-player-progress-bar {
        position: absolute;
        top: 20px;
        width: 250%;
    }
}

/*---------------------------CSS Mobile width < 740px--------------------------------*/
@media only screen and (max-width:46.25rem) {
    .ms-play-control-container-bg {
        background-image: var(--bg-control) !important;
    }
    .ms-play-control-container {
        height: 160px;
    }
    .ms-play-control-wrapper {
        flex-direction: column;
    }
    .ms-play-control-info {
        display: none;
    }
    .ms-play-control-player {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .ms-control-player-button-control {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .ms-player-progress-bar .progress-bar {
        margin: 20px auto;
        width: 70%;
    }
    .ms-play-control-right {
        width: 100%;
    }
    .ms-play-control-volume {
        width: auto !important;
    }
    .wrapper-proggress-bar .time {
        position: absolute;
        top: 12px;
        width: 0px;
    }
    .wrapper-proggress-bar .duration-time {
        right: 10%;
    }
}