* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Lexend;
}

body {
  overflow-y: hidden;
}
.no-scroll {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.d-flex {
  display: flex;
}
.container{
  margin-left: 200px;
}
.app{
  position: absolute;
}