
.wrap-list-song {
    display: flex;
    width: 100%;
}

.wrap-list-song ul {
    width: 100%;
    height: 50% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap-list-song ul li {
    width: 49.5%;
    cursor: pointer;
    background: var(--betal-color);
    margin: 4px 0px;
}

.ms-list-song .list-music-item {
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--gray-color);
    height: 80px;
    padding: 20px;
}

.ms-list-song .list-music-item:hover {
    background-color: var(--bg-color);
}

.ms-list-song .item-control span:hover {
    border-radius: 50%;
    background-color: var(--bg-color);
    color: var(--light-blue-color);
}

.ms-list-song .list-music-item:hover img {
    transform: scale(1.1, 1.1);
    transition: 0.4s ease-in;
}

.ms-list-song .list-music-item:hover .name {
    color: var(--green-color);
}

.ms-list-song .list-music-item:hover .over-lay-item-info {
    visibility: visible;
}

.ms-list-song .list-music-item:hover .list-music-item-info .btn-play {
    visibility: visible;
}

.ms-list-song .list-music-item .list-music-item-info {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.ms-list-song .number-item {
    padding-right: 25px;
    width: 35px;
    font-weight: 400;
}

.ms-list-song .list-music-item-info .avatar {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    overflow: hidden;
}

.ms-list-song .list-music-item-info .avatar .btn-play {
    position: absolute;
    color: var(--yellow-color);
    display: flex;
    padding: 4px;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
}

.ms-list-song .list-music-item img {
    width: 50px;
    height: 50px;
    background-size: cover;
}

.ms-list-song .list-music-item .over-lay-item-info {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
    visibility: hidden;
}

.ms-list-song .item-info {
    padding-left: 20px;
}

.ms-list-song .item-info .name {
    color: var(--white-color);
    padding: 2px;
}

.ms-list-song .item-info .creator {
    font-size: 0.8rem;
    padding: 2px;
}

.ms-list-song .item-info .creator:hover {
    color: var(--yellow-color);
}

.ms-list-song .item-control {
    display: flex;
    position: absolute;
    right: 0;
    justify-content: flex-end;
}

.ms-list-song .item-control span {
    font-size: 1.2rem;
    padding: 4px;
}

.ms-list-song .item-control span:nth-child(1) {
    margin-right: 15px;
}