.carousel-area-song{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.carousel-area-song .item{
    width: 31%;
}
.ms-theme-song{
    margin-top: 20px;
}